@if (!paginatedFoods()?.data?.length) {
  <div class="alert alert-danger" role="alert">
    No meals available at the moment.
  </div>
}

<div class="row">
  <div class="col-12 mt-4">
    <div class="cards mb-4">
      <div class="card-header pb-0 p-3">
        <h6 class="mb-1">Foods (Meals)</h6>
        <p class="text-sm">
          Food prepared at GotBot Chef (
          {{ paginatedFoods()?.meta?.from }}
          -
          {{ paginatedFoods()?.meta?.to }}
          of {{ paginatedFoods()?.meta?.total ?? 0 }} )
        </p>
      </div>
      <div class="card-body p-3">
        <div class="row">
          @for (food of (paginatedFoods()?.data ?? []); track food.id) {
            <div class="col-xl-3 col-md-6 mb-xl-0 mb-4" style="cursor: pointer;">
              <div class="card card-blog card-plain">
                <div class="position-relative">
                  <a class="d-block shadow-xl border-radius-xl">
                    <img [src]="food.image?.url" alt="img-blur-shadow"
                         class="img-fluid shadow border-radius-xl">
                  </a>
                </div>
                <div class="card-body bg-white mb-4 rounded px-1 pb-0">
                  <div class="text-gradient text-dark mb-2 text-sm d-flex justify-content-between align-items-center">
                    <span>{{ food.category }}</span>
                    <span class="text-white btn-outline-success" style="color: white !important;">{{ food.area }}</span>
                  </div>
                  <a href="javascript:;">
                    <h5>{{ food.name }}</h5>
                  </a>
                  <p class="mb-4 text-xl">
                    {{ food.price | currency : 'R ' }}
                  </p>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col-12 d-flex justify-content-center">
    <pagination [totalItems]="paginatedFoods()?.meta?.total || 0"
                [maxSize]="7"
                [itemsPerPage]="paginatedFoods()?.meta?.per_page || 0"
                (pageChanged)="pageChanged($event)"
                previousText="<"
                nextText=">"/>
  </div>
</div>
