.progress{
  position: fixed;
  top: 0;
  height: 5px;
  z-index: 1000;
}
.progress .color{
  position: absolute;
  opacity: 0.7;
  background-color: var(--bs-primary);
  width: 0px;
  height: 5px;
  animation: progres 2s infinite linear;
}
@keyframes progres{
  0%{
    width: 0%;
  }
  25%{
    width: 50%;
  }
  50%{
    width: 75%;
  }
  75%{
    width: 85%;
  }
  100%{
    width: 100%;
  }
};
